# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Custom
*.temp.json
*.temp.js
*.temp.env
*.temp.md
*.temp.txt

# IntelliJ
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# https://stackoverflow.com/a/11968647/3565194
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Editor-based Rest Client
.idea/httpRequests


# Editor directories and files
.vscode/
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
